<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="head :: head">
    <title>Exacode bootstrap</title>
</head>
<link rel="shortcut icon" href="http://designshack.net/favicon.ico">
<link rel="icon" href="http://designshack.net/favicon.ico">
<style>
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<body>
<div class="container">
    <section layout:fragment="content">
        <div class="notify successbox  text-center">
            <h1>Fail!</h1>
            <span class="alerticon"><img th:src="@{/img/error.png}" alt="checkmark" /></span>
            <p>Sorry! The username or email has already been registered. </p>
        </div>
        <div style="display: table; margin: 0 auto;" class="btns clearfix">
            <a class="btn btn-primary" href="/login" role="button">Sign Up Again</a>
        </div>
    </section>
</div>
<!--<div th:substituteby="layout/footer :: footer"></div>-->
</body>
</html>